* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
    width: 100%;
    height:50px;
    background-color: #FF9A4B;
}

main{
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.step-box{
  width: 300px;
  padding: 10px;
  margin-right: 30px;
  background-color: #eee;
  position: relative;
}

.step-box:last-child{
  margin-right: 0;
  
}

.step-img1{
  background-image: url(img/flow01.png);
  height:150px;
  background-size: cover;
  background-position: bottom
}

.step-img2{
  background-image: url(img/flow02.png);
  height:150px;
  background-size: cover;
  background-position: bottom
}

.step-img3{
  background-image: url(img/flow03.png);
  height:150px;
  background-size: cover;
  background-position: bottom
}

.step-num{
  background-color: #FF9A4B;
  position:absolute;
  top: 0;
  left: 0;
  color: #fff;
}

.title{
  margin: 15px 0px 5px;
}

footer{
  height: 50px;
  background-color: #aaaaaa
}

@media screen and (max-width:768px){
  main{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
  }
  
  
  .step-box{
    margin: 10px;
    width: 90%;
  }
  
 
  
}